/* Estilos para el contenedor principal del componente AulasComponent */
.AulasComponent {
  background: linear-gradient(to bottom, #3498db, #2980b9); /* Fondo degradado azul */
  border: 2px solid #2980b9; /* Borde del teléfono (azul más oscuro) */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  width: 375px; /* Ancho del teléfono (ancho del Samsung Galaxy S10) */
  height: 812px; /* Altura del teléfono (alto del Samsung Galaxy S10) */
  margin: 0 auto; /* Centrar en la pantalla */
  position: relative; /* Permite el posicionamiento de elementos internos */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Sombra */
  overflow: hidden; /* Oculta el contenido que desborde */
  cursor: pointer; /* Cambia el cursor al hacer clic */
  transition: transform 0.3s, width 0.3s, height 0.3s, top 0.3s, left 0.3s; /* Agrega transiciones suaves */
  z-index: 1; /* Asegura que el componente esté por encima de otros elementos */
}

/* Estilos para el título */
.AulasComponent h2 {
  font-size: 1.5rem; /* Tamaño del texto del título */
  margin-bottom: 10px; /* Espaciado inferior */
}






.custom-button {
  background-color: #e74c3c; 
  color: white; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: auto; 
}
