/* Estilos para el contenedor principal del componente AulasComponent */
.AulasComponent {
  background: linear-gradient(to bottom, #3498db, #2980b9); /* Fondo degradado azul */
}






.custom-button {
  background-color: #e74c3c; 
  color: white; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: auto; 
}
