/* Estilos para el contenedor principal */
.App {
  text-align: center;
}

.App-header {
  background: linear-gradient(to bottom right, #2170F0, #191A1E);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

body {
  background: linear-gradient(to bottom, #000033, #000000);
}

/* Estilos para el formulario */
.formu {
  max-width: 35%;
  margin: auto;
  margin-top: 10%;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: rgb(14, 44, 99); /* Fondo blanco para el contenedor */
  box-shadow: 20 20 20px rgba(47, 50, 226, 0.1); /* Sombra para el contenedor */
}



/*formulario*/

/*Titulo formulario*/
.formTit {
  font-size: 36px; /* Aumento del tamaño del título */
  margin-bottom: 40px; /* Aumento del espacio entre el título y los campos */
  font-weight: bold; /* Poner en negrita */
  text-align: center;
  color: white;
}

/*Container formulario */
.form_container {
  display: grid;
  gap: 25px;
}

/*Grupos formulario*/
.formGrup {
  position: relative;
}

/*Input*/
.formInp {
  width: 95%;
  color: #575353;
  font-size: 15px;
  padding: 10px;
  border: 1px solid #d7d7da;
  border-radius: 20px;
  outline: none;
}

/*Label*/
.formLab {
  color: black;
  cursor: pointer;
  font-weight: bold; /* Poner en negrita */
  position: absolute;
  top: 0%;
  left: 5px;
  transform: translateY(10px);
  transition: transform 0.5s, color 0.3s;
}

/*Movimiento label*/
.formInp:focus + .formLab,
.formInp:not(:placeholder-shown) + .formLab {
  transform: translateY(-24px) scale(0.7);
  color: black;
}


/*Boton*/
.formSub {
  background-color: #002efa;
  color: white;
  padding: 10px;
  max-width: 100px;
  margin-left: 200px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
