/* Estilos para el contenedor principal */
.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

body {
  background: linear-gradient(to bottom, #000033, #000000); /* Fondo con degradado de azul oscuro a negro */
  margin: 140px; /* Añade esto para eliminar el margen predeterminado del body */
}

/* Estilos para el formulario */
.form-container {
  align-items: center;
  max-width: 35%;
  color: white;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  background: rgba(10, 10, 78, 0.226); /* Fondo blanco para el contenedor */
  box-shadow: 0 0 20px rgb(255, 255, 255); /* Sombra para el contenedor */
}
.titf {
  text-align: center;
}

/* Estilos para los campos del formulario */
.form-label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: white;
}

.form-input {
  width: 95%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 30px;
}

/* Estilos para el botón de registro */
.form-button {
  background-color: #002efa;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgb(255, 255, 255); /* Sombra para el contenedor */
}

.form-button:hover {
  background-color: #0a089c;
}

.formh4 {
  margin-top: 10px;
  margin-left: 2%;
  font-family: 'Times New Roman', Times, serif;
  font-size: small;
}
.button2 {
  margin-top: 2px;
  background: rgba(10, 10, 78, 0.226); 
  color: lightblue;
  cursor: pointer;
  border: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}   

/* Estilos para el home */

.h22 {
  color: white;
  font-size: xx-large;
}

/* Boton Google */

.googleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4285f4; /* Color principal de Google */
  color: #fff;
  border: none;
  max-height: 35px;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.googleButton:hover {
  background-color: #357ae8; /* Color de fondo al pasar el mouse */
}

.googleButton::before {
  content: "G"; /* Agrega la letra "G" como contenido antes del botón */
  font-size: 24px; /* Tamaño de fuente */
  font-weight: bold; /* Poner en negrita */
  margin-right: 10px; /* Espacio a la derecha del "G" */
}

